In [2]:
import pandas as pd
import matplotlib.pyplot as plt

### Bigfoot Data Analysis

In [6]:
bigfoot = pd.read_csv("..//Data Cleaning/resources/bigfoot_data.csv")
bigfootData = pd.DataFrame(bigfoot)
bigfootData.head()

,Unnamed: 0,number,title,timestamp,latitude,longitude,observed,location_details,state,summary
0,0,637,Report 637: Campers' encounter just after dark...,2000-06-16 12:00:00+00:00,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,Cloudy skies throughout the day.
1,1,2917,Report 2917: Family observes large biped from car,1995-05-15 12:00:00+00:00,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,Cloudy skies throughout the day.
2,2,7963,Report 7963: Sasquatch walks past window of ho...,2004-02-09 12:00:00+00:00,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Alaska,Cloudy skies throughout the day with a chance ...
3,3,9317,"Report 9317: Driver on Alcan Highway has noon,...",2004-06-18 12:00:00+00:00,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,Partly cloudy throughout the day.
4,4,13038,Report 13038: Snowmobiler has encounter in dee...,2004-02-15 12:00:00+00:00,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,Clear conditions throughout the day.

### UFO Data Analysis

In [9]:
ufo = pd.read_csv("..//Data Cleaning/resources/ufo_data.csv")
ufoData = pd.DataFrame(ufo)
ufoData.head()

,Unnamed: 0,country,state,datetime,shape,duration,description,latitude,longitude
0,0,USA,NY,2000-01-01 00:01:00,sphere,2 minutes,"I was celebreating with my friends, when I saw...",40.752564,-73.984457
1,1,USA,CA,2000-01-01 00:03:00,unknown,2 minutes,High speed weird noise over Los Angeles midnig...,34.043648,-118.299560
2,2,USA,CA,2000-01-01 00:23:00,light,15 sec,Instense Green light traveling from NW to SE. ...,32.836187,-117.162505
3,3,USA,DC,2000-01-01 01:00:00,cylinder,about 1 minute,Near end of 1AM fireworks while standing outsi...,38.907668,-77.025975
4,4,USA,NE,2000-01-01 01:00:00,light,11 minutes,The flying object was moving back & forth in t...,41.249868,-96.036378

### Hauntings Data Analysis

In [10]:
hauntings = pd.read_csv("..//Data Cleaning/resources/hauntedplaces_data.csv")
hauntData = pd.DataFrame(hauntings)
hauntData.head()

,Unnamed: 0,country,description,location,state,longitude,latitude
0,0,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,MI,-85.504893,42.962106
1,1,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,MI,-84.381843,41.971425
2,2,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,MI,-84.035656,41.904538
3,3,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,MI,-84.017565,41.905712
4,4,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,MI,-84.745177,42.244006