In [45]:
# dependencies
import pandas as pd
from datetime import datetime as dt

In [3]:
bf_loc = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-bfro-sightings-data/bfro_locations.csv")
bfLocations = pd.DataFrame(bf_loc)
bfLocations.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

In [4]:
bf_geo = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-bfro-sightings-data/bfro_reports_geocoded.csv")
bfGeocode = pd.DataFrame(bf_geo)
bfGeocode.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,precip_intensity,precip_probability,precip_type,pressure,summary,conditions,uv_index,visibility,wind_bearing,wind_speed
0,I am not sure how relevant this report will be...,"We were on our way to Rapid City, so we were h...",Washakie County,Wyoming,Summer,NaN,NaN,NaN,NaN,798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I don't know if what I saw was two bigfoots or...,"Heading to the deep mine Poca #2, the airshaft...",Wyoming County,West Virginia,Winter,Report 13237: Daylight sighting near an abando...,37.58135,-81.29745,2005-12-03,13237.0,...,0.204,100.0,"['rain', 'snow']",1018.7,Partly cloudy throughout the day with late aft...,"Snow, Rain, Partially cloudy",NaN,9.3,168.1,17.1
2,"My family and I went to Ludlow, Vermont for Co...",It's off Rt 100 outside of Ludlow Vermont. It ...,Windsor County,Vermont,Fall,Report 13285: Evening sighting by motorists on...,43.46540,-72.70510,2005-10-08,13285.0,...,3.208,100.0,['rain'],1011.8,Cloudy skies throughout the day with a chance ...,"Rain, Overcast",NaN,5.0,356.2,7.6
3,It was spring break 1984 and I was 16 at the t...,"Wythe county Virginia near Wytheville, looking...",Wythe County,Virginia,Spring,"Report 2285: Boy sees ""Bigfoot"" in the woods w...",37.22647,-81.09017,1984-04-08,2285.0,...,0.000,0.0,NaN,1020.9,Partly cloudy throughout the day.,Partially cloudy,NaN,13.0,107.3,11.5
4,It was the winter of 1996 and we were on our w...,"Hwy 182, Wood County Between Quitman, Texas an...",Wood County,Texas,Winter,Report 2048: Night time road crossing observation,32.79430,-95.54250,1996-12-22,2048.0,...,NaN,0.0,NaN,NaN,Partly cloudy throughout the day.,Partially cloudy,NaN,10.5,180.4,20.8

In [5]:
# bfGeocode.columns
bfGeocode["number"] = bfGeocode["number"].astype(int)
bfGeocode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5082 entries, 0 to 5081
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   observed            5043 non-null   object
 1   location_details    4318 non-null   object
 2   county              5082 non-null   object
 3   state               5082 non-null   object
 4   season              5082 non-null   object
 5   title               4104 non-null   object
 6   latitude            4104 non-null   float64
 7   longitude           4104 non-null   float64
 8   date                4104 non-null   object
 9   number              5082 non-null   int32
 10  classification      5082 non-null   object
 11  geohash             4104 non-null   object
 12  temperature_high    4102 non-null   float64
 13  temperature_mid     3964 non-null   float64
 14  temperature_low     4102 non-null   float64
 15  dew_point           3951 non-null   float64
 16  humidity            3951 non-null   float64
 17  cloud_cover         3939 non-null   float64
 18  moon_phase          4104 non-null   float64
 19  precip_intensity    3524 non-null   float64
 20  precip_probability  3964 non-null   float64
 21  precip_type         1309 non-null   object
 22  pressure            3678 non-null   float64
 23  summary             3964 non-null   object
 24  conditions          3964 non-null   object
 25  uv_index            394 non-null    float64
 26  visibility          3916 non-null   float64
 27  wind_bearing        3955 non-null   float64
 28  wind_speed          3966 non-null   float64
dtypes: float64(16), int32(1), object(12)
memory usage: 1.1+ MB

In [6]:
# bfLocations.info()
bfData = bfLocations.merge(bfGeocode, how='inner')
bfData.head()

,number,title,classification,timestamp,latitude,longitude,observed,location_details,county,state,...,precip_intensity,precip_probability,precip_type,pressure,summary,conditions,uv_index,visibility,wind_bearing,wind_speed
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Cordova-McCarthy County,Alaska,...,NaN,0.0,NaN,NaN,Cloudy skies throughout the day.,Overcast,NaN,24.9,188.3,11.4
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Prince of Wales County,Alaska,...,0.000,0.0,NaN,1015.0,Cloudy skies throughout the day.,Overcast,NaN,9.2,169.7,11.4
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Prince of Wales County,Alaska,...,0.708,100.0,['rain'],1026.8,Cloudy skies throughout the day with a chance ...,"Rain, Overcast",NaN,5.9,137.5,34.4
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Southeast Fairbanks County,Alaska,...,0.000,0.0,NaN,1024.4,Partly cloudy throughout the day.,Partially cloudy,NaN,10.2,314.1,8.1
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Anchorage County,Alaska,...,0.000,0.0,NaN,1009.1,Clear conditions throughout the day.,Clear,NaN,9.1,85.5,4.9

In [7]:
bfData = bfData.drop(columns=['uv_index', 'precip_intensity', 'precip_type', 'pressure', 'precip_probability', 'temperature_low', 'temperature_high', 'temperature_mid', 
                            'dew_point', 'humidity', 'cloud_cover', 'conditions', 'uv_index', 'visibility', 'wind_bearing','wind_speed', 'county'])
bfData.head()

,number,title,classification,timestamp,latitude,longitude,observed,location_details,state,season,date,geohash,moon_phase,summary
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,Summer,2000-06-16,bffmu5xrkw,0.50,Cloudy skies throughout the day.
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,Spring,1995-05-15,c1c9fne29x,0.53,Cloudy skies throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Alaska,Winter,2004-02-09,c1cd197r9n,0.63,Cloudy skies throughout the day with a chance ...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,Summer,2004-06-18,bg5q496m8b,0.03,Partly cloudy throughout the day.
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,Winter,2004-02-15,bdv7re99me,0.84,Clear conditions throughout the day.

In [8]:
bfData = bfData.drop(columns=['season', 'moon_phase', 'geohash'])
bfData.head()

,number,title,classification,timestamp,latitude,longitude,observed,location_details,state,date,summary
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,2000-06-16,Cloudy skies throughout the day.
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,1995-05-15,Cloudy skies throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Alaska,2004-02-09,Cloudy skies throughout the day with a chance ...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,2004-06-18,Partly cloudy throughout the day.
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,2004-02-15,Clear conditions throughout the day.

In [9]:
bfData['timestamp'] = pd.to_datetime(bfData['timestamp'])
bfData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4104 entries, 0 to 4103
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   number            4104 non-null   int64
 1   title             4104 non-null   object
 2   classification    4104 non-null   object
 3   timestamp         4104 non-null   datetime64[ns, UTC]
 4   latitude          4104 non-null   float64
 5   longitude         4104 non-null   float64
 6   observed          4071 non-null   object
 7   location_details  3493 non-null   object
 8   state             4104 non-null   object
 9   date              4104 non-null   object
 10  summary           3964 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(7)
memory usage: 352.8+ KB

In [10]:
bfData = bfData.drop(columns=['date','classification'])
bfData.head()

,number,title,timestamp,latitude,longitude,observed,location_details,state,summary
0,637,Report 637: Campers' encounter just after dark...,2000-06-16 12:00:00+00:00,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,Cloudy skies throughout the day.
1,2917,Report 2917: Family observes large biped from car,1995-05-15 12:00:00+00:00,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,Cloudy skies throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,2004-02-09 12:00:00+00:00,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Alaska,Cloudy skies throughout the day with a chance ...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",2004-06-18 12:00:00+00:00,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,Partly cloudy throughout the day.
4,13038,Report 13038: Snowmobiler has encounter in dee...,2004-02-15 12:00:00+00:00,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,Clear conditions throughout the day.

In [11]:
bfData = bfData.dropna()
bfData

,number,title,timestamp,latitude,longitude,observed,location_details,state,summary
0,637,Report 637: Campers' encounter just after dark...,2000-06-16 12:00:00+00:00,61.50000,-142.90000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,Cloudy skies throughout the day.
1,2917,Report 2917: Family observes large biped from car,1995-05-15 12:00:00+00:00,55.18720,-132.79820,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,Cloudy skies throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,2004-02-09 12:00:00+00:00,55.20350,-132.82020,This incident happened last night just after 1...,At the edge of town.,Alaska,Cloudy skies throughout the day with a chance ...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",2004-06-18 12:00:00+00:00,62.93750,-141.56670,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,Partly cloudy throughout the day.
4,13038,Report 13038: Snowmobiler has encounter in dee...,2004-02-15 12:00:00+00:00,61.05950,-149.78530,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,Clear conditions throughout the day.
...,...,...,...,...,...,...,...,...,...
4098,4156,"Report 4156: Loud, high-pitched, close-range s...",1980-09-15 12:00:00+00:00,31.87791,-94.89986,My dad and I used to bowhunt deer on a lease t...,6 miles East of Recklaw off Highway 84 in the ...,Texas,Clear conditions throughout the day.
4099,4159,Report 4159: Campers hear unusual grunting sou...,1995-11-15 12:00:00+00:00,31.22333,-94.96611,"During the deer hunting season of Nov., 1995 w...",About 5 miles east of Apple Springs in the Dav...,Texas,Clear conditions throughout the day.
4100,175,Report 175: Campers encounter large animal nea...,2000-07-30 12:00:00+00:00,47.47745,-121.04150,We were having a family reunion and on saturda...,If you follow the road through Cle Elum on thr...,Washington,Clear conditions throughout the day.
4101,945,Report 945: Creature with red glowing eyes seen,1999-03-19 12:00:00+00:00,47.57778,-124.29330,A mexican brush picker in this area was pickin...,"Upper part of Grays Harbor County, Washington ...",Washington,Clear conditions throughout the day.
4102,1387,Report 1387: Father and son hear heavy footste...,1983-08-17 12:00:00+00:00,47.51030,-122.04560,"One day during a hike through the woods, My fa...","Squak Mountain, East of I-90. Squak Mt. is abo...",Washington,Clear conditions throughout the day.

In [12]:
bfData.to_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/bigfoot_data.csv")

In [13]:
ufo_rep = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-ufo-sightings/nuforc_reports.csv")
ufoReports = pd.DataFrame(ufo_rep)
ufoReports.head()

,summary,country,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,MADAR Node 100,USA,Mountlake Terrace,WA,2019-06-23T18:53:00,NaN,NaN,Occurred : 6/23/2019 18:53 (Entered as : 06/2...,http://www.nuforc.org/webreports/reports/147/S...,MADAR Node 100,2019-06-27T00:00:00,47.794100,-122.306600
1,Steady flashing object with three lights hover...,USA,Hamden,CT,2019-06-23T20:00:00,light,5 hours,Occurred : 6/23/2019 20:00 (Entered as : 6/23...,http://www.nuforc.org/webreports/reports/147/S...,Steady flashing object with three lights hover...,2019-06-27T00:00:00,41.373941,-72.921325
2,"Group of several orange lights, seemingly circ...",USA,Charlottesville,VA,2019-06-20T23:28:00,circle,15 seconds,Occurred : 6/20/2019 23:28 (Entered as : 06/2...,http://www.nuforc.org/webreports/reports/146/S...,"Group of several orange lights, seemingly circ...",2019-06-27T00:00:00,38.055968,-78.494482
3,Dropped in flashed a few times and shot off 5 ...,USA,Lincoln Park,MI,2019-06-21T00:00:00,light,2 minutes,Occurred : 6/21/2019 00:00 (Entered as : 06/2...,http://www.nuforc.org/webreports/reports/146/S...,Dropped in flashed a few times and shot off 5 ...,2019-06-27T00:00:00,42.238500,-83.178300
4,"Location: While traveling in a TGV, from Lille...",France,Douai (France),NaN,2019-06-07T20:00:00,cigar,5 minutes,Occurred : 6/7/2019 20:00 (Entered as : 06/07...,http://www.nuforc.org/webreports/reports/146/S...,"Location: While traveling in a TGV, from Lill...",2019-06-27T00:00:00,NaN,NaN

In [14]:
ufoReports = ufoReports.drop(columns=['report_link', 'posted', 'city', 'stats', 'summary'])
ufoReports.head()

,country,state,date_time,shape,duration,text,city_latitude,city_longitude
0,USA,WA,2019-06-23T18:53:00,NaN,NaN,MADAR Node 100,47.794100,-122.306600
1,USA,CT,2019-06-23T20:00:00,light,5 hours,Steady flashing object with three lights hover...,41.373941,-72.921325
2,USA,VA,2019-06-20T23:28:00,circle,15 seconds,"Group of several orange lights, seemingly circ...",38.055968,-78.494482
3,USA,MI,2019-06-21T00:00:00,light,2 minutes,Dropped in flashed a few times and shot off 5 ...,42.238500,-83.178300
4,France,NaN,2019-06-07T20:00:00,cigar,5 minutes,"Location: While traveling in a TGV, from Lill...",NaN,NaN

In [15]:
ufoReports["date_time"] = pd.to_datetime(ufoReports["date_time"])
ufoReports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141261 entries, 0 to 141260
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   country         140944 non-null  object
 1   state           131681 non-null  object
 2   date_time       138601 non-null  datetime64[ns]
 3   shape           134962 non-null  object
 4   duration        133642 non-null  object
 5   text            141227 non-null  object
 6   city_latitude   115440 non-null  float64
 7   city_longitude  115440 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 8.6+ MB

In [16]:
ufoReports = ufoReports.rename(columns={'date_time': 'datetime', 'city_latitude': 'latitude', 'city_longitude': 'longitude', 'text': 'description'})

ufoReports.head()

,country,state,datetime,shape,duration,description,latitude,longitude
0,USA,WA,2019-06-23 18:53:00,NaN,NaN,MADAR Node 100,47.794100,-122.306600
1,USA,CT,2019-06-23 20:00:00,light,5 hours,Steady flashing object with three lights hover...,41.373941,-72.921325
2,USA,VA,2019-06-20 23:28:00,circle,15 seconds,"Group of several orange lights, seemingly circ...",38.055968,-78.494482
3,USA,MI,2019-06-21 00:00:00,light,2 minutes,Dropped in flashed a few times and shot off 5 ...,42.238500,-83.178300
4,France,NaN,2019-06-07 20:00:00,cigar,5 minutes,"Location: While traveling in a TGV, from Lill...",NaN,NaN

In [17]:
ufo_clean = ufoReports.dropna()
ufo_clean

,country,state,datetime,shape,duration,description,latitude,longitude
1,USA,CT,2019-06-23 20:00:00,light,5 hours,Steady flashing object with three lights hover...,41.373941,-72.921325
2,USA,VA,2019-06-20 23:28:00,circle,15 seconds,"Group of several orange lights, seemingly circ...",38.055968,-78.494482
3,USA,MI,2019-06-21 00:00:00,light,2 minutes,Dropped in flashed a few times and shot off 5 ...,42.238500,-83.178300
5,USA,CA,2019-07-06 00:30:00,sphere,25 seconds,"Looked like a star at first glance, got bright...",33.794093,-116.949989
6,USA,WA,2019-07-06 02:00:00,light,45 minutes,Light in the sky moving from south to north wi...,47.695900,-117.107800
...,...,...,...,...,...,...,...,...
141249,USA,NY,2021-12-14 22:30:00,fireball,2 seconds,I saw a green meteor like thing with a tail fa...,40.660281,-73.965407
141253,USA,NY,2021-12-15 15:15:00,fireball,2-3 seconds,"“Fireball” of green light, vertically descendi...",43.048217,-76.162744
141258,USA,IL,2013-04-30 02:19:00,circle,45 seconds,A very small white light hovering above the cl...,41.847800,-88.307500
141259,USA,WA,1995-07-21 09:00:00,circle,1/12,I was young. You know what? It was pretty ((...,47.651700,-117.083800
141260,USA,VA,2019-12-24 18:30:00,sphere,4 seconds,"While driving at night, I watched two blue-gre...",38.299511,-77.500674

In [31]:
ufo_sorted = ufo_clean.sort_values('datetime')
ufo_sorted = ufo_sorted.reset_index(drop=True)
ufo_sorted

,country,state,datetime,shape,duration,description,latitude,longitude
0,USA,PA,1969-01-01 10:00:00,unknown,unknown,Possible contact with Visitor as a child \n \n...,40.304671,-79.541852
1,USA,LA,1969-01-01 20:00:00,other,2 minutes,"Five bright white, small balls jumped out of t...",32.755100,-92.318200
2,USA,FL,1969-01-04 23:30:00,oval,???,1 and 2 and 3 cloud type objects immediately a...,26.199315,-81.719608
3,USA,PA,1969-01-08 21:30:00,other,5 minutes,"Flat black color, 6-legged, toy jack shaped, b...",40.444535,-79.973413
4,USA,MT,1969-01-15 23:00:00,rectangle,unknown,Flying car above butte civic center. \n \nAfte...,45.997875,-112.595368
...,...,...,...,...,...,...,...,...
105166,USA,RI,2022-12-20 23:30:00,light,3 seconds maybe even less,I was driving the interstate at night with my ...,41.652800,-71.469700
105167,USA,ME,2022-12-21 04:11:00,light,2 hours,Hovering bright light with satellite lights ex...,44.611700,-68.240300
105168,Canada,ON,2022-12-21 07:55:00,changing,20 minutes,Driving seeing what looks like comets only mot...,42.173600,-82.829900
105169,USA,OH,2022-12-21 21:33:00,light,1-2 minutes,4-5 orange balls of light in a straight line \...,39.993828,-82.982484
105170,USA,DE,2022-12-22 09:29:00,light,30 secomds,I saw a light that was not flashing moving the...,39.670280,-75.720711

In [55]:
ufo_sliced = ufo_sorted.loc[ufo_sorted['datetime'] >= '2010']
ufo_sliced

,country,state,datetime,shape,duration,description,latitude,longitude
43901,USA,AR,2010-01-01 00:00:00,circle,5 mins.,4 bright green circles high in the sky going i...,34.526472,-92.600223
43902,USA,MO,2010-01-01 00:00:00,disk,Minutes,Historical sighting (1903 - 1913) Northern Mis...,40.195500,-92.589200
43903,USA,CA,2010-01-01 00:00:00,light,about 15 minutes,3 Red lights in line pattern above El Cajon/ E...,32.739800,-117.027000
43904,USA,OR,2010-01-01 00:00:00,triangle,A few mintues,Triangle shaped craft with three red lights at...,42.451666,-123.347513
43905,USA,CA,2010-01-01 00:00:00,light,1 min,Fresno cal. bright light hovers over head then...,36.749613,-119.794458
...,...,...,...,...,...,...,...,...
105166,USA,RI,2022-12-20 23:30:00,light,3 seconds maybe even less,I was driving the interstate at night with my ...,41.652800,-71.469700
105167,USA,ME,2022-12-21 04:11:00,light,2 hours,Hovering bright light with satellite lights ex...,44.611700,-68.240300
105168,Canada,ON,2022-12-21 07:55:00,changing,20 minutes,Driving seeing what looks like comets only mot...,42.173600,-82.829900
105169,USA,OH,2022-12-21 21:33:00,light,1-2 minutes,4-5 orange balls of light in a straight line \...,39.993828,-82.982484
105170,USA,DE,2022-12-22 09:29:00,light,30 secomds,I saw a light that was not flashing moving the...,39.670280,-75.720711

In [56]:
ufo_clean.to_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/ufo_data.csv")

In [20]:
haunts = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-haunted-places/haunted_places.csv")
hauntedPlaces = pd.DataFrame(haunts)
hauntedPlaces.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097

In [21]:
hauntedPlaces = hauntedPlaces.drop(columns=['state', 'city', 'city_longitude', 'city_latitude'])
hauntedPlaces.head()

,country,description,location,state_abbrev,longitude,latitude
0,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,MI,-85.504893,42.962106
1,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,MI,-84.381843,41.971425
2,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,MI,-84.035656,41.904538
3,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,MI,-84.017565,41.905712
4,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,MI,-84.745177,42.244006

In [22]:
hauntedPlaces = hauntedPlaces.rename(columns={'state_abbrev': 'state'})
hauntedPlaces

,country,description,location,state,longitude,latitude
0,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,MI,-85.504893,42.962106
1,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,MI,-84.381843,41.971425
2,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,MI,-84.035656,41.904538
3,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,MI,-84.017565,41.905712
4,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,MI,-84.745177,42.244006
...,...,...,...,...,...,...
10987,United States,at 12 midnight you can see a lady with two lit...,city hall,CO,-105.048936,39.862610
10988,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,CO,-105.032091,39.847237
10989,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,CO,-105.063974,39.769726
10990,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,CO,-105.103613,39.764055
10991,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,CO,-105.022763,39.116658

In [23]:
hauntedPlaces = hauntedPlaces.dropna()
hauntedPlaces

,country,description,location,state,longitude,latitude
0,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,MI,-85.504893,42.962106
1,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,MI,-84.381843,41.971425
2,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,MI,-84.035656,41.904538
3,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,MI,-84.017565,41.905712
4,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,MI,-84.745177,42.244006
...,...,...,...,...,...,...
10987,United States,at 12 midnight you can see a lady with two lit...,city hall,CO,-105.048936,39.862610
10988,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,CO,-105.032091,39.847237
10989,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,CO,-105.063974,39.769726
10990,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,CO,-105.103613,39.764055
10991,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,CO,-105.022763,39.116658

In [24]:
hauntedPlaces.to_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/hauntedplaces_data.csv")