In [2]:
# dependencies
import pandas as pd

In [3]:
bf_loc = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-bfro-sightings-data/bfro_locations.csv")
bfLocations = pd.DataFrame(bf_loc)
bfLocations.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

In [4]:
bf_geo = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-bfro-sightings-data/bfro_reports_geocoded.csv")
bfGeocode = pd.DataFrame(bf_geo)
bfGeocode.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,precip_intensity,precip_probability,precip_type,pressure,summary,conditions,uv_index,visibility,wind_bearing,wind_speed
0,I am not sure how relevant this report will be...,"We were on our way to Rapid City, so we were h...",Washakie County,Wyoming,Summer,NaN,NaN,NaN,NaN,798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I don't know if what I saw was two bigfoots or...,"Heading to the deep mine Poca #2, the airshaft...",Wyoming County,West Virginia,Winter,Report 13237: Daylight sighting near an abando...,37.58135,-81.29745,2005-12-03,13237.0,...,0.204,100.0,"['rain', 'snow']",1018.7,Partly cloudy throughout the day with late aft...,"Snow, Rain, Partially cloudy",NaN,9.3,168.1,17.1
2,"My family and I went to Ludlow, Vermont for Co...",It's off Rt 100 outside of Ludlow Vermont. It ...,Windsor County,Vermont,Fall,Report 13285: Evening sighting by motorists on...,43.46540,-72.70510,2005-10-08,13285.0,...,3.208,100.0,['rain'],1011.8,Cloudy skies throughout the day with a chance ...,"Rain, Overcast",NaN,5.0,356.2,7.6
3,It was spring break 1984 and I was 16 at the t...,"Wythe county Virginia near Wytheville, looking...",Wythe County,Virginia,Spring,"Report 2285: Boy sees ""Bigfoot"" in the woods w...",37.22647,-81.09017,1984-04-08,2285.0,...,0.000,0.0,NaN,1020.9,Partly cloudy throughout the day.,Partially cloudy,NaN,13.0,107.3,11.5
4,It was the winter of 1996 and we were on our w...,"Hwy 182, Wood County Between Quitman, Texas an...",Wood County,Texas,Winter,Report 2048: Night time road crossing observation,32.79430,-95.54250,1996-12-22,2048.0,...,NaN,0.0,NaN,NaN,Partly cloudy throughout the day.,Partially cloudy,NaN,10.5,180.4,20.8

In [5]:
# bfGeocode.columns
bfGeocode["number"] = bfGeocode["number"].astype(int)
bfGeocode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5082 entries, 0 to 5081
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   observed            5043 non-null   object
 1   location_details    4318 non-null   object
 2   county              5082 non-null   object
 3   state               5082 non-null   object
 4   season              5082 non-null   object
 5   title               4104 non-null   object
 6   latitude            4104 non-null   float64
 7   longitude           4104 non-null   float64
 8   date                4104 non-null   object
 9   number              5082 non-null   int32
 10  classification      5082 non-null   object
 11  geohash             4104 non-null   object
 12  temperature_high    4102 non-null   float64
 13  temperature_mid     3964 non-null   float64
 14  temperature_low     4102 non-null   float64
 15  dew_point           3951 non-null   float64
 16  humidity            3951 non-null   float64
 17  cloud_cover         3939 non-null   float64
 18  moon_phase          4104 non-null   float64
 19  precip_intensity    3524 non-null   float64
 20  precip_probability  3964 non-null   float64
 21  precip_type         1309 non-null   object
 22  pressure            3678 non-null   float64
 23  summary             3964 non-null   object
 24  conditions          3964 non-null   object
 25  uv_index            394 non-null    float64
 26  visibility          3916 non-null   float64
 27  wind_bearing        3955 non-null   float64
 28  wind_speed          3966 non-null   float64
dtypes: float64(16), int32(1), object(12)
memory usage: 1.1+ MB

In [6]:
# bfLocations.info()
bfData = bfLocations.merge(bfGeocode, how='inner')
bfData.head()

,number,title,classification,timestamp,latitude,longitude,observed,location_details,county,state,...,precip_intensity,precip_probability,precip_type,pressure,summary,conditions,uv_index,visibility,wind_bearing,wind_speed
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Cordova-McCarthy County,Alaska,...,NaN,0.0,NaN,NaN,Cloudy skies throughout the day.,Overcast,NaN,24.9,188.3,11.4
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Prince of Wales County,Alaska,...,0.000,0.0,NaN,1015.0,Cloudy skies throughout the day.,Overcast,NaN,9.2,169.7,11.4
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Prince of Wales County,Alaska,...,0.708,100.0,['rain'],1026.8,Cloudy skies throughout the day with a chance ...,"Rain, Overcast",NaN,5.9,137.5,34.4
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Southeast Fairbanks County,Alaska,...,0.000,0.0,NaN,1024.4,Partly cloudy throughout the day.,Partially cloudy,NaN,10.2,314.1,8.1
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Anchorage County,Alaska,...,0.000,0.0,NaN,1009.1,Clear conditions throughout the day.,Clear,NaN,9.1,85.5,4.9

In [7]:
bfData = bfData.drop(columns=['uv_index', 'precip_intensity', 'precip_type', 'pressure', 'precip_probability', 'temperature_low', 'temperature_high', 'temperature_mid', 
                            'dew_point', 'humidity', 'cloud_cover', 'conditions', 'uv_index', 'visibility', 'wind_bearing','wind_speed', 'county'])
bfData.head()

,number,title,classification,timestamp,latitude,longitude,observed,location_details,state,season,date,geohash,moon_phase,summary
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,Summer,2000-06-16,bffmu5xrkw,0.50,Cloudy skies throughout the day.
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,Spring,1995-05-15,c1c9fne29x,0.53,Cloudy skies throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Alaska,Winter,2004-02-09,c1cd197r9n,0.63,Cloudy skies throughout the day with a chance ...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,Summer,2004-06-18,bg5q496m8b,0.03,Partly cloudy throughout the day.
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,Winter,2004-02-15,bdv7re99me,0.84,Clear conditions throughout the day.

In [8]:
bfData = bfData.drop(columns=['season', 'moon_phase', 'geohash'])
bfData.head()

,number,title,classification,timestamp,latitude,longitude,observed,location_details,state,date,summary
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,2000-06-16,Cloudy skies throughout the day.
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,1995-05-15,Cloudy skies throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Alaska,2004-02-09,Cloudy skies throughout the day with a chance ...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,2004-06-18,Partly cloudy throughout the day.
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,2004-02-15,Clear conditions throughout the day.

In [11]:
bfData['timestamp'] = pd.to_datetime(bfData['timestamp'])
bfData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4104 entries, 0 to 4103
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   number            4104 non-null   int64
 1   title             4104 non-null   object
 2   classification    4104 non-null   object
 3   timestamp         4104 non-null   datetime64[ns, UTC]
 4   latitude          4104 non-null   float64
 5   longitude         4104 non-null   float64
 6   observed          4071 non-null   object
 7   location_details  3493 non-null   object
 8   state             4104 non-null   object
 9   date              4104 non-null   object
 10  summary           3964 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(7)
memory usage: 352.8+ KB

In [12]:
bfData = bfData.drop(columns=['date','classification'])
bfData.head()

,number,title,timestamp,latitude,longitude,observed,location_details,state,summary
0,637,Report 637: Campers' encounter just after dark...,2000-06-16 12:00:00+00:00,61.5000,-142.9000,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Alaska,Cloudy skies throughout the day.
1,2917,Report 2917: Family observes large biped from car,1995-05-15 12:00:00+00:00,55.1872,-132.7982,"I was going for a drive. I had 3 kids with me,...","Between the sort yard and the garbage dump, on...",Alaska,Cloudy skies throughout the day.
2,7963,Report 7963: Sasquatch walks past window of ho...,2004-02-09 12:00:00+00:00,55.2035,-132.8202,This incident happened last night just after 1...,At the edge of town.,Alaska,Cloudy skies throughout the day with a chance ...
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",2004-06-18 12:00:00+00:00,62.9375,-141.5667,"My daughter and I were traveling to Tok, Alask...",We were traveling westbound when the animal wa...,Alaska,Partly cloudy throughout the day.
4,13038,Report 13038: Snowmobiler has encounter in dee...,2004-02-15 12:00:00+00:00,61.0595,-149.7853,I and two of my friends were bored one night s...,Up near powerline clearings east of Potter Mar...,Alaska,Clear conditions throughout the day.

In [13]:
bfData.to_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/bigfoot_data.csv")

In [ ]:
ufo_rep = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-ufo-sightings/nuforc_reports.csv")
ufoReports = pd.DataFrame(ufo_rep)
ufoReports.head()

In [ ]:
ufoReports = ufoReports.drop(columns=['report_link'])
ufoReports.head()

In [ ]:
haunts = pd.read_csv("C:/Users/ginav/Desktop/Analysis Projects/Project 3/supernatural_map/Data Cleaning/resources/timothyrenner-haunted-places/haunted_places.csv")
hauntedPlaces = pd.DataFrame(haunts)
hauntedPlaces.head()

In [ ]:
hauntedPlaces = hauntedPlaces.drop(columns=['state', 'city', 'city_longitude', 'city_latitude'])
hauntedPlaces.head()

In [ ]:
hauntedPlaces = hauntedPlaces.rename(columns={'state_abbrev': 'state'})
hauntedPlaces.head()